.title {
  font-style: normal;
  font-weight: 400;
  font-size: 5rem;
  line-height: 5rem;
  /* or 121% */
  letter-spacing: -0.03em;
}

.gradient_purple {
  /* position: relative; */
  font-size: 5.25rem;
  letter-spacing: -0.04em;
  /* font-weight: 700; */
  background: linear-gradient(to top, #ae67fa 1.84%, #f49867 102.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
